replicas: 1

deploymentStrategy: RollingUpdate

image:
  repository: crossplane/crossplane
  tag: %%VERSION%%
  pullPolicy: Always

args:
- '--debug'

imagePullSecrets:
- dockerhub

clusterStacks:
  aws:
    version: master
    deploy: false
  gcp:
    version: master
    deploy: false
  azure:
    version: master
    deploy: false
  rook:
    version: master
    deploy: false

###
onlyTypesAndRoles: false
skipTypesAndRoles: false
hostConfig:
  enabled: false
  kubernetesServiceHost: tenant-kubernetes
  kubernetesServicePort: 6443
  crossplaneSATokenSecret: crossplane-token-nkzdh
  stackManagerSATokenSecret: stack-manager-token-kk6nz
  hostKubeconfigSecret: host-kubeconfig