apiVersion: {{ .APIVersion }}
kind: {{ .Kind}}
metadata:
  annotations:
    crossplane.io/external-name: {{ .ExternalName }}
  name: {{ .ExternalName}}
spec:
  managementPolicies: ["Observe"]
  {{- if not .ProcessedParams }}
  forProvider: {}
  {{- else }}
  forProvider:
    {{ .ProcessedParams }}
  {{- end }}